.button-accent {
  font-size: 16px;
  margin: 40px 0;
  padding: 15px 25px;
  background-color: #000080;
  color: #F5F5F5;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button-black {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333333;
  color: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-weight: 700;
}

.accent {
  color: #008080;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #F5F5F5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
nav h1 {
  font-size: 25px;
  color: #333333;
}
nav div {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
nav div .button-black {
  font-size: inherit;
}

#menu {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 40px;
  font-size: 20px;
  background-color: #000080;
  color: #F5F5F5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.nav-items {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .nav-items {
    padding: 10px;
  }
  .button-black {
    display: none;
  }
}
#hero {
  padding: 140px 0 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6fafd;
}
#hero h1 {
  font-size: 36px;
  margin: 10px 0;
}

@media (max-width: 1100px) {
  #hero {
    padding: 140px 40px 100px;
  }
}
#about {
  background-color: #f6fafd;
  padding: 20px 0 70px;
}
#about .container {
  max-width: 1100px;
  margin: 0 auto;
}
#about h2 {
  margin-bottom: 30px;
}
#about p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 40px;
}

#portfolio {
  padding: 70px 0;
}
#portfolio .container {
  max-width: 1100px;
  margin: 0 auto;
}
#portfolio .title {
  text-align: center;
}
#portfolio .title h1 {
  font-size: 36px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.project-title {
  font-size: 22px;
  padding: 10px 0;
}

.img-holder {
  aspect-ratio: 1/1;
  width: 100%;
  background-image: url("../image/star_platinum.jpg");
  background-size: cover;
}
.img-holder p {
  display: none;
}

@media (max-width: 1100px) {
  .grid {
    gap: 10px;
  }
}
@media (max-width: 600px) {
  #portfolio .title h1 {
    font-size: 32px;
  }
  .grid {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .project-title {
    font-size: 20px;
    text-align: center;
  }
}
#services {
  background-color: #f6fafd;
  padding: 70px 0;
}
#services .container {
  max-width: 1100px;
  margin: 0 auto;
}
#services h2 {
  margin-bottom: 30px;
}
#services img {
  width: 100%;
}

footer {
  position: relative;
  top: 70px;
  padding: 40px 20px 5px;
  background-color: #333333;
  color: #F5F5F5;
}
footer .sub {
  line-height: 1.5;
}
footer .sub h3 {
  font-size: 24px;
}

.footer-1, .footer-2 {
  margin-bottom: 20px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: #F5F5F5;
  color: #333333;
}

main {
  position: relative;
  top: 70px;
}

@media (max-width: 1100px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}